.Quote {
    max-width: 66%;
    max-height: 84%;
    width: 100%;
    background-color: rgba(228, 233, 244, 0.8);
    padding: 7%;
    color: black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Quote-text {
    margin: 0 0 5% 0;
    padding: 0;
    overflow: hidden;
}