.Board {
    padding: 15px;
    border: 4px solid #254651;
    border-radius: 8px;
    color: gray;
    width: 650px;
    height: 552px;
}

.Grid {
    width: 100%;
    height: 100%;
    border: 1px dashed gray;
}