:root {
    --height: 452px;
    --width-ratio: 1.18;
}

.Board {
    padding: 15px;
    border: 4px solid #254651;
    border-radius: 8px;
    color: gray;
    width: calc(var(--height) * var(--width-ratio));
    height: var(--height);
}

.Grid {
    width: 100%;
    height: 100%;
    border: 1px dashed gray;
}