.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100vh;
  background-image: url("../public/wyxina-tresse-aqiahnQaooQ-unsplash-edit.jpg");
  background-size: cover;
}

.App-header, .App-footer {
  background-color: #254651;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Header-line:first-of-type {
  color: #fff7da;
  font-size: 10vh;
  font-weight: 100;
  line-height: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.Header-line:last-of-type {
  color: #dfd1c2;
  font-size: 5vh;
}

.Main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Flex-section {
  padding: 40px 30px;
}

.Quote-current {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 10px;
  font-size: 15px;
}

.Button {
  margin: 5px;
  width: 100px;
  height: 30px;
  background-color: #254651;
  color:white;
  border: 1px solid #075974;
  border-radius: 2px;
  font-family: 'Quicksand', sans-serif;
}

.Button:hover {
  background-color: #075974;
}

.Button:disabled {
  background-color: #7899a4;
}

.Switch {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin: 15px auto;
}

/* Hide default HTML checkbox */
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Switch-label {
  position: absolute;
  top: -4px;
  padding: 5px 8px;
  font-size: 14px;
  color: rgb(177, 177, 177);
  border: 1px dashed rgb(177, 177, 177);
  border-radius: 5px;
}

.Switch-label.Left {
  right: 55px;
}

.Switch-label.Right {
  left: 55px;
}

.Switch-label.Checked {
  color: #254651;
  background-color: #ebf1f4;
  border-color: #254651;
}

.Slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 16px;
  left: 5px;
  bottom: 4px;
  border-radius: 20%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .Slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .Slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.Center-parent {
  position: relative;
}

.Center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}